@model Message
@{
    ViewData["Title"] = "Detail";
}

<div class="card">
    <div class="card-header">
        <h4>@Model.Fullname</h4>
    </div>
    <div class="card-body">
        <h5>@Model.Subject</h5>
        <p>@Model.Email</p>
        <p>@Model.Text</p>
    </div>
    <div class="card-footer">
        <a asp-action="index" class="btn btn-dark">Back</a>
    </div>
</div>